doctype html
<html>
head
  title CSS Variables
  link(rel="stylesheet", href="02-css-vars.css")
body
  p.
    We have built partnerships with small farms around the world to
    hand-select beans at the peak of season. We then carefully roast
    in small batches to maximize their
    potential.
  
  p
  .panel
    h2 Single-origin
    .body We have built partnerships with small farms around the world to hand-select beans at the peak of season. We then carefully roast in small batches to maximize their potential.
  
  p
  aside.dark
    .panel
      h2 Single-origin
      .body We have built partnerships with small farms around the world to hand-select beans at the peak of season. We then carefully roast in small batches to maximize their potential.

</html>
