doctype html
html
  head
    title Default font size
    link(rel="stylesheet", href="02-responsive-font-size.css")
  body
    .panel
      h2 Single-origin
      .panel-body
      | We have built partnerships with small farms around the world to
      | hand-select beans at the peak of season. We then carefully roast
      |
      a(href="/small-batches") small batches
      |
      | to maximize their potential.

    p

    .panel.large
      h2 Single-origin
      .panel-body
      | We have built partnerships with small farms around the world to
      | hand-select beans at the peak of season. We then carefully roast
      |
      a(href="/small-batches") small batches
      |
      | to maximize their potential.
