doctype html
html(lang="en")
  head
    title REM
    link(rel="stylesheet", href="02-root-rem.css")
  body
    ul: li Top level
      ul: li Second level
        ul: li Third level
          ul: li Fourth level
            ul: li Fifth level
