doctype html
<html>
head
  title Box Model
  link(rel="stylesheet", href="03-eq-height-columns.css")
body

  header
    h1 Franklin Running Club
  
  .container
    main.main
      h2 Come join us!
      p.
        The Franklin Running club meets at 6:00pm every Thursday
        at the town square. Runs are three to five miles, at your
        own pace.

    aside.sidebar
      a.button-link(href="/twitter") follow us on Twitter
      a.button-link(href="/facebook") follow us on Facebook
      a.sponsor-link(href="/sponsor") become a sponsor
</html>
