doctype html
<html>
head
  title Float Layout
  link(rel="stylesheet", href="04-float-layout.css")
body

  .container
    header
      h1 Franklin Running Club
  
    main.main.clearfix
      h2 Running tips
      div

        .media
          img.media-image(src="img/runner.png", alt="runner")
          .media-body
            h4 Strength
            p.
              Strength training is an important part of
              injury prevention. Focus on your core&mdash;
              especially your abs and glutes.
        .media
          img.media-image(src="img/shoes.png", alt="shoes")
          .media-body
            h4 Cadence
            p.
              Check your stride turnover. The most efficient
              runners take about 180 steps per minute.
        .media
          img.media-image(src="img/shoes.png", alt="shoes")
          .media-body
            h4 Change it up
            p.
              Don't run the same every time you hit the
              road. Vary your pace, and vary the distance
              of your runs.
        .media
          img.media-image(src="img/runner.png", alt="runner")
          .media-body
            h4 Focus on form
            p.
              Run tall but relaxed. Your feet should hit
              the ground beneath your hips, not out in
              front of you.
</html>
