doctype html
<html>
<head>
  title Animation
  link(rel="stylesheet", href="./16-animation.css")
</head>
<body>

section
  .box

section
  form(action="/none")
    label(for="trip") Tell us about your first trip to the zoo:
    textarea#trip(name="about-my-trip", cols="30", rows="5")
    button#submit-button(type="submit") Save

script(src="./16-animation.js")

</body>
</html>
